META_APP_ID=deine_meta_app_id
META_APP_SECRET=dein_meta_app_secret
META_REDIRECT_URI=http://127.0.0.1:8000/auth/callback
META_API_VERSION=v23.0
PUBLIC_BASE_URL=
APP_SECRET=bitte-einen-langen-zufallswert-eintragen
